ACCESS_TOKEN_SECRET=sdssdsdsdsd
REFRESH_TOKEN_SECRET=dsdsdsdsdsd
PORT=3099
DEBUG=stoqey*
STQNETWORK_WS=wss://marketdata.cloudaxe.co
STQNETWORK=https://marketdata.cloudaxe.co
COUCHBASE_URL=http://localhost
COUCHBASE_BUCKET=stq
COUCHBASE_USERNAME=username
COUCHBASE_PASSWORD=password
PAYPAL_ID=
PAYPAL_SECRET=